* {
  font-family: "Arial";
  margin:20px;
}

body {

}

.file-selectors {
  width: 100vw;
  display: flex;
}

p {
  pointer-events: none;
  text-align: center;
  height:16px;
  margin: auto;
}

h1 {
  width: 100%;
  text-align: center;
}

#tagList {
  width: 100vw;
  height: 200px;
}

#tagBox {
  display: none;
}

#preview {
  display: none;
}

#drop_zone {
display: flex;
  border: 2px dotted gray;
  width:  200px;
  height: 200px;
  width:50%;
  border-radius: 20px;
  transition: 0.3s;
}


textarea {
  white-space: pre-wrap;
}

button {
  height:64px;
  width:auto;

}

#tagButton {
  width:100%;
}


.wrapper {
  height:480px;
  width:640px;
  display: flex;flex-wrap:wrap;
  margin: auto;
}
