* {
  font-family: "Arial";
  margin:20px;
}

.file-selectors {
  width: 100vw;
  border:1px solid black;
  display: flex;
}

h1 {
  width: auto;
  text-align: center;
}

#tagList {
  width: 100vw;
  height: 200px;
}

#tagBox {
  display: none;
}

#preview {
  display: none;
}

textarea {
  white-space: pre-wrap;
}

button {
  height:64px;
  width:auto;
  
}


.wrapper {
  display:flex;flex-wrap:wrap;
}
