* {
  font-family: "Arial";
  margin:20px;
}

body {
  display: flex;
  flex-direction: column;
  height:75vh;
}

.file-selectors {
  width: 100vw;
  border:1px solid black;
  display: flex;
}

p {
  pointer-events: none;
}

h1 {
  width: 100%;
  text-align: center;
}

#tagList {
  width: 100vw;
  height: 200px;
}

#tagBox {

}

#preview {
  display: none;
}

#drop_zone {
  border: 2px dotted gray;
  width:  200px;
  height: 100px;
  width:50%;
}


textarea {
  white-space: pre-wrap;
}

button {
  height:64px;
  width:auto;

}


.wrapper {
  height:480px;
  width:640px;
  display:flex;flex-wrap:wrap;
  margin:auto;
}
